@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-open-sans: 'Open Sans', sans-serif;
    --font-open-sans-bold: "Open Sans Bold", sans-serif;
    --font-open-sans-light: "Open Sans Light", sans-serif;
}

@layer utilities {
    .font-open-sans {
        font-family: var(--font-open-sans);
    }
    .font-open-sans-bold {
        font-family: var(--font-open-sans-bold);
    }
    .font-open-sans-light {
        font-family: var(--font-open-sans-light);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.slow-spin {
    cursor: pointer;
    animation: rotation 10s linear infinite;
    transition: 0.4s;
}

.slow-spin:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 242, 210, 0.5);
}

.slow-spin:active {
    box-shadow: 0px 0px 50px 0px rgba(255, 242, 210, 0.5);
}

.slow-spin-1 {
    transition: 0.5s;
}

.slow-spin-1:hover {
    transform: scale(0.9);

}


.slow-spin-planet-1 {
    animation: rotation 200s linear infinite;
}


@keyframes rotation-1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.slow-spin-planet-2 {
    animation: rotation-1 200s linear infinite;
}


